@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin flex(
    $direction: row,
    $content: flex-start,
    $items: stretch,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

$white-primary: hsl(0, 0%, 100%);
$black-primary: hsl(0, 0%, 0%);
$html-color: hsl(14, 100%, 57%);
$css-color: hsl(220, 100%, 45%);
$js-color: hsl(52, 100%, 50%);
$sass-color: hsl(330, 51%, 61%);
$react-color: hsl(192, 95%, 68%);
$git-color: hsl(9, 86%, 57%);
$bluish-black: hsl(227, 91%, 9%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

header {
    @include flex(row, center, center);

    width: 100vw;
    height: 100vh;
    color: $white-primary;
    background-color: $black-primary;

    h1 {
        position: relative;
        z-index: 2;
        animation: normal slide 1.5s;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        animation: normal fade-in 1.5s;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-40vh);
    }

    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.skills-section {
    @include flex(column, center, center);

    width: 100vw;
    height: 100vh;
    gap: 4rem;
    color: $white-primary;
    background-color: $black-primary;

    h2 {
        font-size: 6rem;
    }
}

.skills-container {
    @include flex(row, center, center, wrap);

    width: 100vw;
    gap: 4rem;

    div {
        @include flex(column, center, center);

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

#icon-1 {
    color: $html-color;
}

#icon-2 {
    color: $css-color;
}

#icon-3 {
    color: $js-color;
}

#icon-4 {
    color: $sass-color;
}

#icon-5 {
    color: $react-color;
}

#icon-6 {
    color: $git-color;
}

.project-section {
    @include flex(column, center, center);

    width: 100vw;
    height: 100vh;
    gap: 2rem;
    color: $white-primary;
    background-color: $bluish-black;

    p {
        width: 30vw;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

footer {
    @include flex(row, center, center);

    width: 100vw;
    height: 4rem;
    color: $white-primary;
    background-color: $black-primary;
}
