@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin flex(
    $direction: row,
    $content: flex-start,
    $items: stretch,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

$white-primary: hsl(0, 0%, 100%);
$black-primary: hsl(0, 0%, 0%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    @include flex(row, center, center);

    width: 100vw;
    height: 100vh;
    color: $white-primary;
    background-color: $black-primary;

    h1 {
        position: relative;
        z-index: 2;
        animation: normal slide 1.5s;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        animation: normal fade-in 1.5s;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-40vh);
    }

    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}
