@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin flex(
    $direction: row,
    $content: flex-start,
    $items: stretch,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

$white-primary: hsl(0, 0%, 100%);
$black-primary: hsl(0, 0%, 0%);
$html-color: hsl(14, 100%, 57%);
$css-color: hsl(220, 100%, 45%);
$js-color: hsl(52, 100%, 50%);
$sass-color: hsl(330, 51%, 61%);
$react-color: hsl(192, 95%, 68%);
$git-color: hsl(9, 86%, 57%);
$bluish-black: hsl(227, 91%, 9%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: $white-primary;
    font-family: "Open Sans", sans-serif;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 100;
    animation: normal slide 1s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-60vw);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

header {
    @include flex(row, center, center);

    width: 100vw;
    height: 100vh;
    background-color: transparent;

    h1 {
        position: relative;
        text-align: center;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.skills-section {
    @include flex(column, center, center);

    width: 100vw;
    height: 100vh;
    gap: 4rem;
    background-color: transparent;

    h2 {
        font-size: 6rem;
    }
}

.skills-container {
    @include flex(row, center, center, wrap);

    width: 100vw;
    gap: 4rem;

    div {
        @include flex(column, center, center);

        gap: 0.2rem;

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    div:nth-child(2) {
        animation-duration: 1.2s;
    }

    div:nth-child(3) {
        animation-duration: 1.5s;
    }

    div:nth-child(4) {
        animation-duration: 1.8s;
    }

    div:nth-child(5) {
        animation-duration: 2.1s;
    }

    div:nth-child(6) {
        animation-duration: 2.4s;
    }
}

#icon-1 {
    color: $html-color;
}

#icon-2 {
    color: $css-color;
}

#icon-3 {
    color: $js-color;
}

#icon-4 {
    color: $sass-color;
}

#icon-5 {
    color: $react-color;
}

#icon-6 {
    color: $git-color;
}

.project-section {
    @include flex(column, center, center);

    width: 100vw;
    height: 100vh;
    gap: 2rem;
    background-color: transparent;

    p {
        width: 40vw;
    }
}

footer {
    @include flex(row, center, center);

    width: 100vw;
    height: 4rem;
    background-color: $bluish-black;
}

@media (max-width: 500px) {
    .skills-container {
        gap: 2rem;
    }

    .project-section {
        p {
            width: 60vw;
        }
    }
}
